* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.header h1 {
  text-align: center;
  color: #282a30;
  font-size: 60px;
  font-weight: 700;
}
.t {
  margin: 50px 0;
  text-align: center;
  color: rgba(40, 42, 48, 0.5);
  font-size: 22px;
  font-weight: 400;
}
.r {
  margin: 50px 0;
  text-align: center;
  color: red;
  font-size: 22px;
  font-weight: 400;
}
.q {
  margin-left: 100px;
}
.kgz {
  bottom: 1120px;
  left: 30px;
  position: relative;
  width: 15%;
  height: 15%;
}
.kgz-1 a {
  font-size: 50px;
  top: 15px;
  left: 120px;
  position: absolute;
  color: yellow;
}
